{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}
    <div>
        </br>
    <img align="center" style="width:100px;height:100px;"
         src="{{ asset('img/logo_theodo_triangle.png') }}" />
    </div>

{% endblock %}
{% block footer %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_app'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                        <i class="fa fa-users"></i> {{ 'action.browse_app'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_admin'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                        <i class="fa fa-lock"></i> {{ 'action.browse_admin'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="image">
        <h1>Happy at work 2016</h1>
        <img style="width:485px;height:273px;"
             src="{{ asset('img/haw.jpg') }}" />
        <p align="center"><font size="4" color="#999999" face="monospace">source:
                <a href="http://start.lesechos.fr/rejoindre-une-entreprise/classements-entreprises/classement-des-startups-les-mieux-notees-par-leurs-salaries-4870.php">http://start.lesechos.fr</a>
                (PS: Ils ont dessiné Theodo en femme O_o)</font></p>
    </div>


{% endblock %}
